<div id="mainPresentacion" class="row bg-white d-flex h-100">
  <section class="col p-0 d-inline-block align-self-center mx-auto text-center ">
    <div class="row justify-content-center">
      <img id="personalImg" src="..//public/personalImg.jpg" class="p-0 rounded-4 mb-4" />
    </div>
    <section id="personalName" class="row text-center">
      <h2 class="fs-1">{{name}}</h2>
      <h1 class="fs-2">{{profession}}</h1>
    </section>
    <section class="container w-25 justify-content-center">
      <div class="col d-flex justify-content-around align-items-center py-3">
        <img id="iconLinkedIn" src="..//public/linkedin-logo.png" class="styleIcon" />
        <img id="iconGitHub" src="..//public/github-logo.png" class="styleIcon" />
      </div>
    </section>
  </section>
  <section class="col p-0 bg-gray vh-auto d-flex text-center align-items-center justify-content-center">
    <div class="d-block">
      <p class="fs-1">
        Sobre mí
      </p>
      <p id="aboutMe" class="fs-5 container w-75">
        {{aboutMe}}
      </p>
    </div>
  </section>
</div>
